<% var pageClass = "page-index"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <div class="contents">
                <div class="contents-inner">
                    <div class="main-visual">
                        <div class="main-logo">
                            <img src="images/logo_jp_white.png" alt="">
                        </div>
                        <ul class="sp">
                            <li>
                                <img src="./images/keyvisual-1-sp.jpg" alt="">
                            </li>
                            <li>
                                <img src="./images/keyvisual-2-sp.jpg" alt="">
                            </li>
                            <li>
                                <img src="./images/keyvisual-3-sp.jpg" alt="">
                            </li>
                            <li>
                                <img src="./images/keyvisual-4-sp.jpg" alt="">
                            </li>
                            <li>
                                <img src="./images/keyvisual-5-sp.jpg" alt="">
                            </li>
                            <li>
                                <img src="./images/keyvisual-6-sp.jpg" alt="">
                            </li>
                        </ul>

                        <ul class="pc">
                            <li>
                                <img src="./images/keyvisual-1.jpg" alt="">
                            </li>
                            <li>
                                <img src="./images/keyvisual-2.jpg" alt="">
                            </li>
                            <li>
                                <img src="./images/keyvisual-3.jpg" alt="">
                            </li>
                            <li>
                                <img src="./images/keyvisual-4.jpg" alt="">
                            </li>
                            <li>
                                <img src="./images/keyvisual-5.jpg" alt="">
                            </li>
                            <li>
                                <img src="./images/keyvisual-6.jpg" alt="">
                            </li>
                        </ul>

                        <div id="scrolldown">
                            <p>scroll</p>
                            <div class="mouse">
                                <p>・</p>
                            </div>
                        </div>
                    </div>

                    <article class="main">
                        <section class="concept u-mb100" id="concept">
                            <div class="message-wrapper u-pb80 u-mb80">
                                <h2 class="heading-primary u-pt80 u-mb80 sr-bottom">CONCEPT</h2>
                                <div class="message-text sr-bottom">
                                    <p>テキストテキストテキストテキスト。</p>
                                    <p>テキストテキストテキストテキストテキストテキスト、</p>
                                    <p>テキストテキストテキストテキストテキスト。</p>
                                    <p>テキストテキストテキ。</p>
                                    <p>テキストテキストテキストテキストテキ。</p>
                                </div>
                            </div>
                            <div class="kodawari-wrapper">
                                <figure class="featureLeft u-mb60">
                                    <div class="featureLeft-wrapper">
                                        <div class="featureLeft-noArea">
                                            <div class="featureLeft-no sr-bottom">
                                                こだわり <span class="diamond">◆</span> その壱
                                            </div>
                                        </div>
                                        <div class="featureLeft-image u-mb30 sr-bottom">
                                            <img src="../images/concept-1.jpg" alt="コーヒー豆">
                                        </div>
                                    </div>
                                    <h3 class="featureLeft-title heading-secondary u-mb10 sr-bottom">コーヒー豆</h3>
                                    <figcaption class="featureLeft-text sr-bottom">
                                        コーヒー豆は全てスペシャリティーコーヒーという特別な豆を使用しています。スペシャリティーコーヒーとは、欠点豆が少なく、またその味や特徴が「日本スペシャリティコーヒー協会」で認められているものです。高品質で特徴的な味わいのコーヒーに仕上がります。
                                    </figcaption>
                                </figure>
                                <figure class="featureRight u-mb60">
                                    <div class="featureRight-wrapper">
                                        <div class="featureRight-noArea">
                                            <div class="featureRight-no sr-bottom">
                                                こだわり <span class="diamond">◆</span> その弐
                                            </div>
                                        </div>
                                        <div class="featureRight-image u-mb30 sr-bottom">
                                            <img src="../images/concept-2.jpg" alt="自家焙煎">
                                        </div>
                                    </div>
                                    <h3 class="featureRight-title heading-secondary u-mb10 sr-bottom">自家焙煎</h3>
                                    <figcaption class="featureRight-text sr-bottom">
                                        コーヒー豆は全て自家焙煎してご提供しています。店内に設置されているFuji Roasterで焙煎された豆は、独特の香ばしさがありコーヒーの良さを引き立たせます。店主こだわりの調整で焙煎します。
                                    </figcaption>
                                </figure>
                                <figure class="featureLeft u-mb60">
                                    <div class="featureLeft-wrapper">
                                        <div class="featureLeft-noArea">
                                            <div class="featureLeft-no sr-bottom">
                                                こだわり <span class="diamond">◆</span> その参
                                            </div>
                                        </div>
                                        <div class="featureLeft-image u-mb30 sr-bottom">
                                            <img src="../images/concept-3.jpg" alt="挽きたて">
                                        </div>
                                    </div>
                                    <h3 class="featureLeft-title heading-secondary u-mb10 sr-bottom">挽きたて</h3>
                                    <figcaption class="featureLeft-text sr-bottom">
                                        コーヒーは、ご注文をいただいてから、一杯一杯丁寧に豆を挽きます。ドリップの直前に挽くことで、品質が劣化せず、豆本来の味をお楽しみいたけます。
                                    </figcaption>
                                </figure>
                            </div>
                            <ul class="concept-photos sr-opacity">
                                <li class="concept-photo">
                                    <img src="../images/concept-list-1.jpg" alt="">
                                </li>
                                <li class="concept-photo">
                                    <img src="../images/concept-list-2.jpg" alt="">
                                </li>
                                <li class="concept-photo">
                                    <img src="../images/concept-list-3.jpg" alt="">
                                </li>
                                <li class="concept-photo">
                                    <img src="../images/concept-list-4.jpg" alt="">
                                </li>
                                <li class="concept-photo">
                                    <img src="../images/concept-list-5.jpg" alt="">
                                </li>
                                <li class="concept-photo">
                                    <img src="../images/concept-list-6.jpg" alt="">
                                </li>
                                <li class="concept-photo">
                                    <img src="../images/concept-list-7.jpg" alt="">
                                </li>
                                <li class="concept-photo">
                                    <img src="../images/concept-list-8.jpg" alt="">
                                </li>
                                <li class="concept-photo">
                                    <img src="../images/concept-list-9.jpg" alt="">
                                </li>
                                <li class="concept-photo">
                                    <img src="../images/concept-list-10.jpg" alt="">
                                </li>
                                <li class="concept-photo">
                                    <img src="../images/concept-list-11.jpg" alt="">
                                </li>
                                <li class="concept-photo">
                                    <img src="../images/concept-list-12.jpg" alt="">
                                </li>
                            </ul>
                        </section>

                        <section class="menu u-mb100" id="menu">
                            <h2 class="heading-primary u-pt50 u-mb60 sr-bottom">PICK UP MENU</h2>

                            <div class="menulist u-mb70 sr-bottom">
                                <div class="menulist-head">
                                    <h3 class="heading-thirdly u-mb40">DRINK</h3>
                                </div>
                                <table class="menulist-table u-mb20">
                                    <tbody>
                                        <tr class="menulist-row">
                                            <th class="menulist-col1">瀧本珈琲ブレンド</th>
                                            <td class="menulist-col2">260円〜</td>
                                        </tr>
                                        <tr class="menulist-row">
                                            <th class="menulist-col1">店主おすすめ珈琲</th>
                                            <td class="menulist-col2">290円〜</td>
                                        </tr>
                                        <tr class="menulist-row">
                                            <th class="menulist-col1">水出し珈琲</th>
                                            <td class="menulist-col2">300円〜</td>
                                        </tr>
                                        <tr class="menulist-row">
                                            <th class="menulist-col1">エスプレッソ</th>
                                            <td class="menulist-col2">260円〜</td>
                                        </tr>
                                        <tr class="menulist-row">
                                            <th class="menulist-col1">カフェラテ</th>
                                            <td class="menulist-col2">300円〜</td>
                                        </tr>
                                        <tr class="menulist-row">
                                            <th class="menulist-col1">抹茶ラテ</th>
                                            <td class="menulist-col2">360円〜</td>
                                        </tr>
                                        <tr class="menulist-row">
                                            <th class="menulist-col1">ココア</th>
                                            <td class="menulist-col2">300円〜</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul class="menulist-photos sr-bottom">
                                    <li class="menulist-photo">
                                        <img src="../images/menu-drink-1.jpg" alt="">
                                    </li>
                                    <li class="menulist-photo">
                                        <img src="../images/menu-drink-2.jpg" alt="">
                                    </li>
                                    <li class="menulist-photo">
                                        <img src="../images/menu-drink-3.jpg" alt="">
                                    </li>
                                    <li class="menulist-photo">
                                        <img src="../images/menu-drink-4.jpg" alt="">
                                    </li>
                                </ul>
                            </div>
                            <div class="menulist u-mb70 sr-bottom">
                                <div class="menulist-head">
                                    <h3 class="heading-thirdly u-mb40">FOOD</h3>
                                </div>
                                <table class="menulist-table u-mb20">
                                    <tbody>
                                        <tr class="menulist-row">
                                            <th class="menulist-col1">しらすトーストセット</th>
                                            <td class="menulist-col2">260円〜</td>
                                        </tr>
                                        <tr class="menulist-row">
                                            <th class="menulist-col1">こむすびとスープのセット</th>
                                            <td class="menulist-col2">290円〜</td>
                                        </tr>
                                        <tr class="menulist-row">
                                            <th class="menulist-col1">木曜のカレー(副菜・サラダ付き)</th>
                                            <td class="menulist-col2">300円〜</td>
                                        </tr>
                                        <tr class="menulist-row">
                                            <th class="menulist-col1">ゆっかのふわふわパン</th>
                                            <td class="menulist-col2">260円〜</td>
                                        </tr>
                                        <tr class="menulist-row">
                                            <th class="menulist-col1">手作りこむすび</th>
                                            <td class="menulist-col2">300円〜</td>
                                        </tr>
                                        <tr class="menulist-row">
                                            <th class="menulist-col1">しげばぁちゃんのあんこサンド</th>
                                            <td class="menulist-col2">360円〜</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul class="menulist-photos sr-bottom">
                                    <li class="menulist-photo">
                                        <img src="../images/menu-food-1.jpg" alt="">
                                    </li>
                                    <li class="menulist-photo">
                                        <img src="../images/menu-food-2.jpg" alt="">
                                    </li>
                                    <li class="menulist-photo">
                                        <img src="../images/menu-food-3.jpg" alt="">
                                    </li>
                                    <li class="menulist-photo">
                                        <img src="../images/menu-food-4.jpg" alt="">
                                    </li>
                                    <li class="menulist-photo">
                                        <img src="../images/menu-food-5.jpg" alt="">
                                    </li>
                                    <li class="menulist-photo">
                                        <img src="../images/menu-food-6.jpg" alt="">
                                    </li>
                                </ul>
                            </div>
                        </section>

                        <section class="service u-pt100 u-pb60" id="service">
                            <h2 class="heading-primary u-mb100 sr-bottom">SERVICE</h2>
                            <figure class="card u-mb30 sr-opacity">
                                <div class="card-image">
                                    <img src="../images/service-1.jpg" alt="珈琲豆の販売">
                                </div>
                                <div class="card-discription">
                                    <h3 class="heading-secondary u-mb10">珈琲豆の販売</h3>
                                    <h4 class="heading-fourthly u-mb20">Coffee Beans</h4>
                                    <figcaption class="card-text">
                                        <p>瀧本珈琲で使用している豆は、販売もしています。自家焙煎した豆をご自宅やオフィス等でもお楽しみいただけます。</p>
                                        <p>お買い求めの際は、店員までお申し付け下さい。</p>
                                    </figcaption>
                                </div>
                            </figure>
                            <figure class="card u-mb30 sr-opacity">
                                <div class="card-image">
                                    <img src="../images/service-2.jpg" alt="ポットサービス">
                                </div>
                                <div class="card-discription">
                                    <h3 class="heading-secondary u-mb10">ポットサービス</h3>
                                    <h4 class="heading-fourthly u-mb20">Pot Service</h4>
                                    <figcaption class="card-text">
                                        <p>お打ち合わせや会議の際にも瀧本珈琲ブレンドをぜひ♪</p>
                                        <p class="u-mb10">ご住所にもよりますが、お近くでしたら配達も可能です。ポットとはいえ、直前に粉に挽き、丁寧に抽出される珈琲はいつもと変わりません。温かく、香り高い瀧本珈琲ブレンドをお楽しみください。</p>
                                        <p>10杯 2000円〜</p>
                                        <p>＊カップやお砂糖類付＊</p>
                                        <p>事前予約制</p>
                                    </figcaption>
                                </div>
                            </figure>
                            <figure class="card sr-opacity">
                                <div class="card-image">
                                    <img src="../images/service-3.jpg" alt="コーヒーチケット">
                                </div>
                                <div class="card-discription">
                                    <h3 class="heading-secondary u-mb10">珈琲チケット</h3>
                                    <h4 class="heading-fourthly u-mb20">Coffee Ticket</h4>
                                    <figcaption class="card-text">ほんのりお得なチケットサービスです。おつりで小銭を増やしたくない方にもおすすめのチケットです。神田らしく、昔ながらの1枚1枚ちぎるタイプです。チケットはご自身でお持ち歩きはもちろん、お店での保管も可能です。いつも来て下さる方に関わらず、たまーに利用して下さる方もぜひご利用下さい♪</figcaption>
                                </div>
                            </figure>
                        </section>

                        <section class="information" id="information">
                            <div class="information-wrapper u-pt70 u-pb50">
                                <div class="information-contents sr-bottom">
                                    <h2 class="heading-primary u-mb60">INFORMATION</h2>
                                    <h3 class="information-header heading-secondary u-mb30">瀧本珈琲</h3>
                                    <dl>
                                        <dt class="information-dTitle">ADDRESS</dt>
                                        <dd class="information-dData">
                                            <p>東京都千代田区内神田3-24-7</p>
                                            <p>内神田ビックモックビル</p>
                                        </dd>
                                        <dt class="information-dTitle">TEL</dt>
                                        <dd class="information-dData">0120-821-218</dd>
                                        <dt class="information-dTitle">OPEN</dt>
                                        <dd class="information-dData">
                                            <p class="u-mb5">月 - 金</p>
                                            <p class="u-mb5">　7:30 - 18:00</p>
                                            <p class="u-mb5">土</p>
                                            <p>　11:00 - 16:00</p>
                                        </dd>
                                        <dt class="information-dTitle">CLOSE</dt>
                                        <dd class="information-dData">日・祝日</dd>
                                    </dl>
                                </div>
                            </div>
                            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.3800517738932!2d139.76721781523992!3d35.692264136974224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c03dbed1317%3A0x71956d5b8523f6c2!2z54Cn5pys54-I55Cy!5e0!3m2!1sja!2sjp!4v1536064162219"></iframe>
                        </section>
                    </article>
                </div>
            </div>
            <!-- end contents -->

            <% include layout/_footer %>
                <% include layout/_script %>
