            <footer class="footer">
                <div class="footer-inner">
                    <div class="footer-logo">
                        <img src="./images/logo_1.png" alt="瀧本珈琲">
                    </div>
                    <div class="sns">
                        <a href="https://www.facebook.com/takimotocoffee/"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="https://twitter.com/takimotocoffee"><i class="fab fa-twitter fa-2x"></i></a>
                        <a href="https://www.instagram.com/takimotocoffee/"><i class="fab fa-instagram fa-2x"></i></a>
                    </div>
                    <small>&copy;2018 Takimoto Coffee</small>
                </div>
            </footer>
        </div>
        <!-- end wrapper -->
