
    <body class="<%= pageClass %>">
        <div id="loader">
            <div class="inner">
                <img class="logo" src="images/logo_1.png" alt="">
                <div class="text">
                    now loading...
                </div>
            </div>
        </div>
        <div class="wrapper">
            <header class="header">
                <div class="header-inner">
                    <div class="grobalNav">
                        <div class="header-logo">
                            <img src="./images/logo_1.png" alt="瀧本珈琲">
                        </div>
                        <ul class="u-mt40 u-mb30 u-pb10">
                            <li><a href="#concept">CONCEPT</a></li>
                            <li><a href="#menu">MENU</a></li>
                            <li><a href="#service">SERVICE</a></li>
                            <li><a href="#information">INFORMATION</a></li>
                        </ul>
                        <div class="sns u-pt30">
                            <a href="https://www.facebook.com/takimotocoffee/"><i class="fab fa-facebook fa-2x"></i></a>
                            <a href="https://twitter.com/takimotocoffee"><i class="fab fa-twitter fa-2x"></i></a>
                            <a href="https://www.instagram.com/takimotocoffee/"><i class="fab fa-instagram fa-2x"></i></a>
                        </div>
                        <small>&copy;2018 Takimoto Coffee</small>
                    </div>
                    <div class="grobalNav-toggleButton">
                        <div class="grobalNav-line"></div>
                        <div class="grobalNav-line"></div>
                        <div class="grobalNav-line"></div>
                    </div>
                </div>
            </header>
