<!DOCTYPE html>
<html lang="ja" class="no-js" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="UTF-8">
        <title>瀧本珈琲|神田のコーヒースタンド</title>
        <meta name="description" content="神田駅北口3分、西口5分にある自家焙煎コーヒースタンド瀧本珈琲は、5食限定人気のカレー・おにぎり・トースト・ドリンクと軽食のセットメニュー、甘さ控えめでコーヒーにぴったりの和デザートなど全てテイクアウトできるレトロなカフェです。2Fの店内席もご利用できます。">
        <meta name="keywords" content="神田駅北口,神田駅西口,自家焙煎,コーヒー,カフェ,和デザート">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
              content="width=device-width, minimum-scale=1, maximum-scale=10,initial-scale=1.0">
        <meta property='base_url' content='./' id="base_url">
        <link rel="stylesheet" href="./css/common.css">
        <link rel="stylesheet" href="./css/slick.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="shortcut icon" href="./images/favicon.ico" >

        <script src="https://use.typekit.net/wot6and.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <!-- build:js js/init.min.js -->
        <script src="lib/modernizr.js"></script>
        <script src="js/load.js"></script>
        <!-- endbuild -->
    </head>
