.footer {
    width: 100%;
    &-inner {
        // width: $size_max;
        margin: 0 auto;
        background: #003A13;
        text-align: center;
        small {
            display: inline-block;
            color: #FFF;
            margin: 4rem 0;
        }
    }
    &-logo {
        width: 5rem;
        margin: 0 auto;
        padding: 4rem 0;
        img {
            width: 100%;
        }
    }
    .sns {
        i {
            margin: 0 0.8rem;
            color: #FFF;
        }
    }
}
