
<!DOCTYPE html>
<!--[if lt IE 9]>
<html lang="ja" class="no-js lt-ie9" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ja" class="no-js" prefix="og: http://ogp.me/ns#"><!--<![endif]-->

    <head>
        <meta charset="UTF-8">
        <title>瀧本珈琲|神田のコーヒースタンド</title>
        <meta name="description" content="神田駅北口3分、西口5分にある自家焙煎コーヒースタンド瀧本珈琲は、5食限定人気のカレー・おにぎり・トースト・ドリンクと軽食のセットメニュー、甘さ控えめでコーヒーにぴったりの和デザートなど全てテイクアウトできるレトロなカフェです。2Fの店内席もご利用できます。">
        <meta name="keywords" content="神田駅北口,神田駅西口,自家焙煎,コーヒー,カフェ,和デザート">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
              content="width=device-width, minimum-scale=1, maximum-scale=10,initial-scale=1.0">
        <meta property='base_url' content='./' id="base_url">
        <link rel="stylesheet" href="./css/common.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        <!-- build:js js/init.min.js -->
        <script src="lib/modernizer/modernizr.js"></script>
        <script src="js/load.js"></script>
        <!-- endbuild -->
    </head>

    <body class="page-index">
        <div class="wrapper">

            <header class="header">
                <div class="header-inner">
                    <div class="header-logo"></div>
                    <div class="grobalNav">
                        <ul>
                            <li>CONCEPT</li>
                            <li>MENU</li>
                            <li>SERVICE</li>
                            <li>INFORMATION</li>
                        </ul>
                    </div>
                </div>
            </header>

            <!-- start contents -->
            <div class="main-visual">
                <div class="main-visual-inner">
                    <img src="http://placehold.it/1180x750" height="1180" width="750" alt="瀧本珈琲">
                </div>
            </div>

            <!-- start contents -->
            <div class="contents">
                <div class="contents-inner">
                        <article class="main">
                            <section class="concept">
                                <h2 class="section-title">CONCEPT</h2>
                                <!-- h2のbeforeでラインを作る<div class="sectionline"></div> -->
                                <div class="message">
                                    <p>テキストテキストテキストテキストテキストテキスト</p>
                                </div>
                                <div class="feature">
                                    <div class="feature-container">
                                        <figure>
                                            <img class="feature-image" src="" alt="">
                                            <h3>
                                                <span class="feature-no">feature01</span>
                                                <span class="feature-title">生の豆</span>
                                            </h3>
                                            <figcaption class="feature-text">
                                                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="feature">
                                    <div class="feature-container">
                                        <div class="feature-no">feature02</div>
                                        <div class="feature-title">自家焙煎</div>
                                        <div class="feature-line"></div>
                                    </div>
                                    <div class="feature-image"></div>
                                    <div class="feature-text">
                                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                    </div>
                                </div>
                                <div class="feature">
                                    <div class="feature-container">
                                        <div class="feature-no">feature03</div>
                                        <div class="feature-title">挽きたて</div>
                                        <div class="feature-line"></div>
                                    </div>
                                    <div class="feature-image"></div>
                                    <div class="feature-text">
                                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                    </div>
                                </div>
                                <div class="slideshow"></div>
                            </section>

                            <section class="menu">
                                <h2 class="section-title">PICK UP MENU</h2>
                                <div class="sectionline"></div>
                                <div class="menulist">
                                    <div class="menulist-head">DRINK</div>
                                    <div class="menulist-item">
                                        <ul>
                                            <li>瀧本ブレンド<div class="hot">hot</div></li>
                                            <li>店主おすすめブレンド<div class="hot">hot</div></li>
                                            <li>水出し珈琲<div class="cold">cold</div></li>
                                        </ul>
                                    </div>
                                    <div class="menulist-price">
                                        <ul>
                                            <li>¥260〜</li>
                                            <li>¥300〜</li>
                                            <li>¥300〜</li>
                                        </ul>

                                    </div>

                                </div>
                                <div class="menulist">
                                    <div class="menuhead">FOOD</div>
                                </div>
                            </section>

                            <section class="service">
                                <h2 class="section-title">SERVICE</h2>
                                <div class="card">
                                    <div class="card-image"></div>
                                    <div class="card-title"></div>
                                    <div class="card-subtitle"></div>
                                    <div class="card-text"></div>
                                </div>
                            </section>

                            <section class="information">
                                <h2 class="section-title">INFORMATION</h2>
                                <div class="sectionline"></div>
                                <!-- http://www.htmq.com/html/dl.shtml -->
                            </section>
                        </article>
                </div>
            </div>
            <!-- end contents -->

            <footer class="footer">
                <div class="footer-inner">
                    <img src="" alt="瀧本珈琲">
                    <div class="sns">
                        F T I
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        
                    </div>
                    <small>&copy;2018 Takimoto Coffee</small>
                </div>
            </footer>
        </div>
        <!-- end wrapper -->

        <script src="lib/jquery/dist/jquery.js"></script>
        <script src="js/common.js"></script>
    </body>
</html>
